body{
   background-color: #9f7dc9;
}
h1{
	font-family: cursive;
	font-color:black;
}
#firstline{
	width:100%;
	padding-left:500px;
	padding-top:100px;
}
.diceposition{
	padding-left:200px;
	float:left; 
}
#pl1{
	width :50%;
	padding-left:300px;
	float:left;
}
#pl2{
	width :50%;
	padding-left:300px;
}
.clear{
	clear: both;
}
#hag{
	padding-left:500px ;
	width:100%;
}